**.DS_Store
**/build
**/devel
**/cmake-build-debug
**/.idea
**.bag
**/.catkin_workspace
**.csv
**.bin
**.zip
**.ply
*.egg-info/
*.so

# Keep large runtime and documentation assets outside the source repository.
/misc/
/mars_uav_sim/perfect_drone_sim/meshes/
/mars_uav_sim/perfect_drone_sim/pcd/
